<div class="container-fluid" *ngIf="gameStats.length">
    <div class="row">
        <label style="font-size: large;" class="col-xs-12">
            Stats (last {{limit}})
        </label>
    </div>
    <div>
        <table>
            <tr>
                <td>
                </td>
                <td colspan="5" style="background-color: #D9EDF7;height: 30px;">
                    <span style="margin-left: 5px;"><b>Cold</b></span>
                </td>
                <td colspan="27">
                   <span style="margin-left: 5px;"><b>Neutral</b></span>
                </td>
                <td colspan="5" style="background-color: #F2DEDE;height: 30px;">
                    <span style="margin-left: 5px;"><b>Hot</b></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span ><b>Slot&nbsp;</b></span>
                </td>
                <td *ngFor="let item of gameStats"   style="height: 30px;width: 30px; color:white;" [style.background-color]="item.color">
                    <span style="margin-left: 7px;">{{item.result}}</span>
                </td>             
            </tr>
            <tr>
                <td>
                    <span ><b>Hits&nbsp;</b></span>
                </td>
                <td style="width: 30px;"  *ngFor="let item of gameStats;let i = index" [ngClass]="{hot: i>31, cold: i<5}" >
                    <span style="margin-left: 7px;">{{item.count}}</span>                    
                </td>
            </tr>
        </table>
    </div>  
</div>