<div class="container-fluid">
    <hr>
    <div class="row">
        <label style="font-size: large;" class="col-xs-12">
            Events
        </label>
    </div>
    <div class="row col-xs-12">
        <ul class="list-group">
            <li *ngFor="let event of eventList" class="list-group-item">
                {{event}}
            </li>
            <li class="list-group-item">
                Game {{nextEvent?.id}} <span *ngIf="startInTime>0;else other_content">will start in {{startInTime}} sec</span>
                <ng-template #other_content>
                    <span>, the wheel is spinning</span>
                  </ng-template>
            </li>
        </ul>
    </div>
</div>