<div class="container-fluid">
    <br>
    <div class="col-xs-12 row">
        <app-game-statistics [board]="board" [nextApiCall]="nextGame?.fakeStartDelta"></app-game-statistics>
        <hr />
    </div>
    <div class="row">
        <div class="col-xs-5">
            <app-game-board [board]="board" [winnerSlotValue]="currentGame?.outcome"></app-game-board>
        </div>
        <div class="col-xs-1 container-fluid">
            <div id="spinner" style="height: 150px"></div>
        </div>
        <div class="col-xs-6">
            <app-log></app-log>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <app-events [nextGame]="nextGame" [currentGame]="currentGame"></app-events>
        </div>
    </div>
</div>